<h2>Login</h2>
<form class="login-form" (submit) = "submitLoginForm()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" [(ngModel)] = "username" id="username" name="username" placeholder="Eg. DE><TER" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" [(ngModel)] = "password" name="password" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <a id="forgot-password-link" [routerLink] = "['/forgotPassword']" >Forgot Password</a>
</form>
