<div class="container">
  <div class="page-header">
    <h2>{{name}}</h2>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4>Username:- {{username}}</h4>
    </div>
    <div class="col-sm-6">
      <h4>Email:- {{email}}</h4>
    </div>
  </div>
  <div class="page-header">
      <h3>Blogs</h3>
  </div>
  <div  *ngFor='let blog of blogArray' class="blog-div row">
    <h4><a [routerLink] = "['/blog']" [queryParams] = "{ id: blog._id }">{{blog.heading}}</a></h4>
    <p class='col-sm-4'>By <a [routerLink] = "['/users']" [queryParams] = "{ username: blog.username }">{{blog.username}}</a></p>
    <div class="col-sm-4">
        <p>
          Tags:- <span *ngFor='let tag of blog.tags'><a [routerLink] = "['/blogs']" [queryParams] = "{tag: tag}">{{tag}}  </a></span>
        </p>
    </div>
    <p class="col-sm-4">
      Written On - {{blog.modifiedDate | date}}
    </p>
  </div>
</div>
