h2 {
  text-align: center;
}

.forgot-password-form {
    padding: 0px;
    margin: 0px;
    position: relative;
    left: 25vw;
}
.forgot-password-form .form-group {
  width: 50vw;
}
h4 {
  text-align: center;
}
