<div class="jumbotron">
  <h1>Hi There!</h1>
  <h2>This is a MEAN Authentication App</h2>
  <p>This is only a test application i created to practice MEAN Stack</p>
  <a [routerLink] = "['/login']" class="btn btn-info">Login</a>
  <a [routerLink] = "['/register']" class="btn btn-warning">Register</a>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <h1>NodeJS</h1>
      <p>
        Used NodeJs for backend.
      </p>
    </div>
    <div class="col-xs-6 col-md-3">
      <h1>ExpressJS</h1>
      <p>
        Used ExpressJS as the backend server framework along with mongoose to build a robust CRUD API.
      </p>
    </div>
    <div class="col-xs-6 col-md-3">
      <h1>AngularJS</h1>
      <p>
        Used Angular 2 as the frontend framework along with bootstrap.
      </p>
    </div>
    <div class="col-xs-6 col-md-3">
      <h1>MongoDB</h1>
      <p>
        Using MongoDB as the database system for user data.
      </p>
    </div>
  </div>
</div>
