<div class="container">
  <div class="row">
    <div class="col-xs-6 backbtn">
      <a class="btn btn-primary btn-sm" [routerLink] = "['/blogs']" [queryParams] = "{ pn: 0 }" ><i class="fa fa-arrow-left" aria-hidden="true"></i> All Blogs</a>
    </div>
    <div *ngIf="editable" class="col-xs-6 editbtn">
      <a class="btn btn-primary btn-sm" [routerLink]="['/editBlog']" [queryParams] = "{ id: currentBlog._id }"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
    </div>
  </div>

</div>

<div class="blog container">
  <div class="page-header">
    <h2>{{currentBlog.heading}}</h2>
    <div class="row">
      <div class="col-sm-4">
        <h5>
          Written By - <a [routerLink] = "['/users']" [queryParams] = "{ username: currentBlog.username }">{{currentBlog.username}}</a>
        </h5>
      </div>
      <div class="col-sm-4">
        <h5>
          Written On - {{currentBlog.modifiedDate | date }}
        </h5>
      </div>
      <div class="col-sm-4">
        <h5>
        Tags:-  <span *ngFor = "let tag of currentBlog.tags"><a [routerLink] = "['/blogs']" [queryParams] = "{ tag: tag, pn: 0 }">{{tag}}  </a></span>
      </h5>
      </div>
    </div>
  </div>
  <div class="blog-body" [innerHTML]="currentBlog.body">

  </div>
</div>
